/* 
Dark Blue
    #1F464D
    31 70 77

Light Blue
    #3C8C93
    60 140 147

Tan
    #D9D7CA
    217 215 202

Light Brown
    #73604F
    115 96 79

Dark Brown
    #3B3535
    59 53 53

Fonts
    font-family: 'Yellowtail', cursive;
    font-family: 'Roboto Condensed', sans-serif;
*/

::-webkit-scrollbar {display:none;}

.background {
    height: 100vh;
    width: 100%;
    background-image: url(../../img/portfolioBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: fixed;
    z-index: -1;
}

.pageContent {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 0 0 15px #000000;
}

.header {
    margin: 8.6rem 0 8.6rem 0;
}

.content {
    width: 100%;
}

.sectionTitle {
    color: #D9D7CA;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 3rem;
    text-shadow: 2px 2px 5px #000000;
    text-shadow:
        -1.5px -1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000;
    padding: 0 0 1.5rem 0;
    border-bottom: 2px solid #3C8C93;
}
