/* 
Dark Blue
    #1F464D
    31 70 77

Light Blue
    #3C8C93
    60 140 147

Tan
    #D9D7CA
    217 215 202

Light Brown
    #73604F
    115 96 79

Dark Brown
    #3B3535
    59 53 53

Fonts
    font-family: 'Yellowtail', cursive;
    font-family: 'Roboto Condensed', sans-serif;
*/

::-webkit-scrollbar {display:none;}

.background {
    height: 100vh;
    width: 100%;
    background-image: url(../../img/portfolioBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: fixed;
    z-index: -1;
}

.navbar {
    box-shadow: 0 0 15px #000000;
    width: 100%;
    max-height: 5rem;
}

.branding {
    color: #D9D7CA
}

.branding:hover {
    color: #3C8C93
}

.nav-link {
    color: #D9D7CA;
}

.nav-link:hover {
    color: #3C8C93;
}

.navSpacing {
    margin-bottom: 11rem; 
}

.navSpacingPortfolio {
    margin-bottom: 15rem; 
}

.navSpacingReviews {
    margin-bottom: 15rem; 
}

.pageContent {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 0 0 15px #000000;
}

.content {
    width: 100%;
    margin: 4rem 0;
}

.sectionTitle {
    color: #D9D7CA;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 0 2rem 0;
    font-size: 3rem;
    text-shadow: 2px 2px 5px #000000;
}

.sectionSubTitle {
    color: #D9D7CA;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 7rem 0 2rem 0;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
}

.LanguageLogo {
    max-height: 6rem;
    min-height: 6rem;
    max-width: 6rem;
    min-width: 6rem;
}