.resume {
    padding: 3rem 0 3rem 0;
    margin: 15rem 0 15rem 0;
}

.block {
    margin: 0 0 5rem 0;
}

.experience {
    background-color: rgba(217, 215, 202, .9);
    border-radius: 2rem;
    border: 5px solid #3B3535;
    padding: 1rem 0;
    padding-right: 1rem;
    margin: 1rem auto;
    box-shadow: 0 0 15px #000000;
    width: 70%;
}

.exLogo {
    width: 6rem;
    max-height: 6rem;
    margin: 1rem 1rem;
}

.exContent {
    text-align: start;
}

.education {
    background-color: rgba(217, 215, 202, .9);
    border-radius: 2rem;
    border: 5px solid #3B3535;
    padding: 1rem 0;
    padding-right: 1rem;
    max-width: 45%;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px #000000;
}

.edLogo {
    width: 6rem;
    max-height: 6rem;
    margin: 0 1rem;
}

.edContent {
    text-align: start;

}