*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

nav {
    background-color: orange;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2em;
    font-family: "Arial", "Helvetica", sans-serif;
}

nav a {
    margin: .2em 1em 0px 1em;
    color: darkcyan;
}

nav a:hover {
    color: white;
}